@charset 'UTF-8';
@font-face {
    font-family: 'lovelo';
    src: url(fonts/Lovelo\ Black.otf);
}

*{
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* Mobile */
@media (480px <= width){
    header a{
        font-size: 0.8em;
    }
    header>nav{
        margin-right: 2px;
    }

    #main-section img{
        height: 15em;
    }

    #intro-section{
        display: block;
    }

    #logos img{
        margin-top: 2.5em;
        height: 2.5em; 
    }
    #logos img:hover{
        height: 3em;
    }

    #form-section{
        display: block;
        text-align: center;
    }
    #form-section section{
        width: 100%;
        margin-left: 5px;
    }
    #form-section img{
        height: 350px;
    }

    ul{
        width: 8em;
        margin: 0em;
    }
}

/* Desktop */
@media (1200px <= width) {
    header a{
        font-size: 1em;
    }
    header>nav{
        margin-right: 15px;
    }

    #main-section img{
        height: 25em;
        border-radius: 1em;
    }

    #intro-section{
        display: flex;
    }

    #logos img{
        height: 4em;
    }
    #logos img:hover{
        height: 4.3em;
    }

    #form-section{
        display: flex;
    }
    #form-section section{
        width: 50%;
        margin-left: 5px;
    }
    
    #form-section img{
        height: 500px;
    }

    ul{
        width: 8em;
        margin: 0em 0em 0em 5em;
    }
}

header{
    display: flex;
    background-color: #c0ddf7c4;

    padding: 5px 30px;

    align-items: center;
    justify-content: space-between;

    margin: -8px;
}
header a{
    color: orangered;
    text-decoration: none;
    font-weight: 600;

    margin-right: 15px;
}
header a:hover{
    text-decoration: underline 2px;
}

#container-fig{
    text-align: right;
    
    height: 2em;
    margin: 1em;
    padding: 1em;
    align-items: center;
}

#main-section{
    text-align: center;
    margin-bottom: 2.5em;
}
#main-section>div{
    text-align: justify;
    width: 30em;
    margin: 4em auto;

}
#main-section h1{
    margin: 2em;
}
#main-section img{
    box-shadow: 0em 0em 1em 0.3em #00000083;
    border-radius: 0.5em;
}
#main-section a{
    background-color: #f07070;
    color: white;
    text-decoration: none;
    font-size: 1.3em;

    border-radius: 1.3em;
    padding: 1em 2em;
    margin-top: 2em;

    transition: 0.3s;
}
#main-section a:hover{
    background-color: #fc9191;
}

#intro-section{
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    background-color: #7070f07c;

    padding: 2em;

    height: 20em;
}
#intro-section>div{
    width: 50%;
}
#intro-section>div h2{
    text-align: center;
}
#intro-section p{
    text-align: justify;
}

#logos{
    display: flex;
    padding: 1em;
}
#logos img{
    opacity: 100%;
    transition: 0.3s;
}

form{
    background-color: #7070f07c;
    padding: 40px 45px;
    margin: 45px;

    border-top-left-radius: 4em;
    border-bottom-right-radius: 4em;
}
form>div{
    display: flex;
    flex-direction: column;
}
form>h2{
    text-align: center;
    margin-bottom: 45px;
}
form>p{
    text-align: justify;
}
form>div{
    margin-bottom: 2em;
}

label{
    text-align: left;
    margin: 0em 0em 0.3em 0.3em;
}
label::after{
    content: '*';
    color: red;
}

input{
    padding: 15px;

    border-style: none;
    border-radius: 1em;
}

button[type=submit]{
    background-color: black;
    color: white;

    padding: 1em;
    border-style: none;
    border-radius: 2em;

    transition: 0.3s;
    cursor: pointer;
}

button[type=submit]:hover{
    background-color: white;
    color: black;
}

#fig{
    transition: 0.3s;
}

h1{
    font-family: 'lovelo', sans-serif;
}

footer{
    display: flex;
    justify-content: space-between;
    
    background-color: #1d1da5;
    color: white;

    padding: 2em 3em;
    margin: 2em -8px 0em -2em;
}

footer a{
    color: rgb(19, 192, 250);
    font-weight: 600;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

#copy{
    background-color: rgb(39, 39, 39);
    color: white;
    text-align: center;

    padding: 0.8em 5em;
    margin: -8px;
}
#copy p{
    margin: 0;
}
#copy a{
    color: orangered;
    font-weight: 600;
    text-decoration: none;
}